@page
@model IndexModel
@using System.Net.Http
@using System.Text.Json.Nodes

@{
    ViewData["Title"] = "Chuck Norris";

}

@{
    var client = new HttpClient();
    var result = await client.GetStringAsync("https://api.chucknorris.io/jokes/random?category=dev");
    var jsonString = result.ToString();
    JsonNode jokeNode = JsonNode.Parse(jsonString)!;
    // Use the Value Node to display the Joke
    var joke = (jokeNode!["value"]);
}

<html>
    <title>Chuck Norris</title>
    <link rel="stylesheet" href="/static/style.css">
    <img src="/static/chuck.png" width="295" height="303" alt="Chuck Norris" /> 
    <h1> </h1>
    <h6>@(joke)</h6>
    <small>Running on a Host named @(System.Net.Dns.GetHostName())</small>
    
</html>
